* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: wrap;
  line-height: 1.5em;
  white-space: wrap;
}

// breadcrumb

.ant-breadcrumb {
  padding: 30px;
}

.ant-breadcrumb > ol > li {
  padding: 10px 0;
}
.ant-breadcrumb > ol > li:hover {
  cursor: pointer;
}

/* .ant-layout-sider .ant-menu-submenu-title {
  margin: 20px 0;
} */

/* 
.ant-layout-sider .ant-menu-inline {
  margin: 0;
}
 */
